<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>

        <activity
            android:name="com.edd1e.nevoplay.CarPlayHostActivity"
            android:configChanges="density|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.NEVOPlay"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/usb_device_filter" />
        </activity>

        <activity
            android:name="com.edd1e.nevoplay.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.NEVOPlay" />

        <activity
            android:name="com.edd1e.nevoplay.ImageCropActivity"
            android:exported="false"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.NEVOPlay" />

        <receiver
            android:name="com.edd1e.nevoplay.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
